/*-----BODY-----*/

html, body {
  margin: 0;
  padding: 0;
  min-width: 1160px;

  font-family: "Roboto", Arial, sans-serif;
  color: #353e42;
}

/*-----LINKS-----*/

a {
  text-decoration: none;
}

/*-----BUTTONS-----*/

.button {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  background-color: #fb565a;
  text-transform: uppercase;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

/*-----LIST-STYLE-----*/

.site-navigation,
.user-navigation,
.features-list,
.social-button,
.pagination-list {
  list-style: none;
}

/*-----HEADER-----*/

.main-header {
  background-color: #eeeeee;
  min-width: 1200px;
}

.main-header .button {
  background-color: #fb565a;
}

.main-header .button:hover,
.main-header .button:focus {
  background-color: #e74246;
}

.main-header .button:active {
  color: #e26c6e;
  background-color: #d7373b;
}

/*-----MAIN-NAVIGATION-----*/

.main-navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 81px;
  margin: auto;
}

.main-navigation a {
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog .main-navigation-logo:hover,
.catalog .main-navigation-logo:focus {
  opacity: 0.8;
}

.catalog .main-navigation-logo:active {
  opacity: 0.3;
  border-bottom: none;
}

/*-----SITE-NAVIGATION/-/USER-NAVIGATION-----*/

.site-navigation {
  display: flex;
  width: 440px;
  justify-content: space-between;
  padding: 0;
  margin-right: 41px;
}

.site-navigation-link:hover,
.user-basket:hover {
  color: #fb565a;
}

.site-navigation-link:focus,
.user-basket:focus {
  color: #a6a6a6;
}

.site-navigation-link:active,
.user-basket:active,
.site-navigation-link .current {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.user-navigation {
  display: flex;
}

.user-navigation .user-basket {
  position: relative;
}

.user-basket::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

/*-----SLIDER-----*/
.slider {
  position: relative;
  width: 1160px;
  height: 410px;
  margin: 0 auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 115px;
  left: 35%;
  width: 160px;
  height: 20px;
  margin-left: 100px;
  text-align: center;
  z-index: 1000;
}

.slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #ffffff;
  border: 5px solid #ffffff;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
}

#btn-1:checked ~ .slider-controls label[for=btn-1],
#btn-2:checked ~ .slider-controls label[for=btn-2],
#btn-3:checked ~ .slider-controls label[for=btn-3] {
  box-shadow: inset 0 0 0 2px #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide .slide-title {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  padding-top: 63px;
}

.slide:nth-child(1) {
  background-image: url("../img/header-slider-1.png");
  background-repeat: no-repeat;
  background-position: 100% 17px;
}

.slide:nth-child(2) {
  background-image: url("../img/header-slider-2.png");
  background-repeat: no-repeat;
  background-position: 100% 17px;
}

.slide:nth-child(3) {
  background-image: url("../img/header-slider-3.png");
  background-repeat: no-repeat;
  background-position: 100% 17px;
}

.slide {
 display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.slide .button {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 20px 55px 15px 55px;
  margin-top: 36px;
  background-color: #fb565a;
}

.slide .button:hover,
.slide .button:focus {
  background-color: #e74246;
}

.slide .button:active {
  color: #e26c6e;
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

/*-----CONTAINER-----*/

.container {
 width: 1160px;
 margin: auto;
 padding: 0 20px;
}

/*------PRODUCTS-LIST-----*/

.products-list {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
}

.products-list .button {
  padding: 17px 40px;
}

.products-list .btn-title:active {
  opacity: 0.3;
}

.products-list .button-1 {
  background-color: #fb565a;
}

.products-list .button-1:hover,
.products-list .button-1:focus {
  background-color: #e74246;
}

.products-list .button-1:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px 0 0 #c13135;
}

.products-list .button-2 {
  background-color: #00ca74;
}

.products-list .button-2:hover,
.products-list .button-2:focus {
  background-color: #00bc6c;
}

.products-list .button-2:active {
  background-color: #00aa62;
  box-shadow: inset 0 3px 0 0 #009958;
}

.products-list .button-3 {
  background-color: #efc84a;
}

.products-list .button-3:hover,
.products-list .button-3:focus {
  background-color: #eab534;
}

.products-list .button-3:active {
  background-color: #e5a722;
  box-shadow: inset 0 3px 0 0 #ce961f;
}
 /*-----PRODUCTS-ITEM------*/

 .products-item {
   width: 300px;
 }

 .products-item-description {
   padding: 0 0 36px 0;
   margin-top: 21px;
   margin-bottom: 0;
 }

 .products-item .product-title {
   font-size: 24px;
   line-height: 30px;
   color: #000000;
   text-transform: uppercase;
   margin-top: 21px;
   margin-bottom: 0;
 }

 .products-list .item3 {
   padding-right: 59px;
 }

 /*-----FEATURES-----*/

 .features {
   position: relative;
   border-top: 2px solid #eeeeee;
   height: 523px;
 }

 .features-description {
   position: absolute;
   top: 40px;
   left: 0;
   display: flex;
   flex-direction: column;
   width: 660px;
 }

 .features-title {
   margin: 0;
 }
 .features-description-text {
   font-size: 16px;
   line-height: 24px;
   padding: 19px 0 29px 0;
 }


 .features-list {
   position: relative;

   margin: 0;
   padding-top: 11px;
   padding-left: 0;
 }

 .features-list li {
   padding-bottom: 27px;
   padding-left: 37px;
 }

 .features-list li:nth-child(1)::before {
   content: "";
   position: absolute;
   top: 12%;
   left: 0;

   width: 25px;
   height: 2px;
   background-color: red;
 }

 .features-list li:nth-child(2)::before {
   content: "";
   position: absolute;
   top: 43%;
   left: 0;

   width: 25px;
   height: 2px;
   background-color: red;
 }

 .features-list li:nth-child(3)::before {
   content: "";
   position: absolute;
   top: 74%;
   left: 0;

   width: 25px;
   height: 2px;
   background-color: red;
 }

 .features-table {
   position: absolute;
   top: 10px;
   right: 0;
   width: 360px;
   padding: 40px 20px 0px 20px;
 }

 .features-table-name {
   text-align: center;
 }

 .features .table {
   margin-top: 33px;
 }


/*-----PARTNERS-----*/

.partners {
  display: flex;
  justify-content: space-around;

  width: 1160px;
  padding: 10px 0;
  align-items: center;
  margin-bottom: 80px;

  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

 .partner {
   opacity: 0.2;
   cursor: pointer;
 }

 .partner:hover,
 .partner:focus {
  opacity: 1;
 }

 .partner:active,
 .partner:visited  {
   opacity: 0.1;
 }

 /*-----MAIN-FOOTER-----*/

.main-footer {
  min-width: 1200px;
}

 .main-footer .strong {
   font-size: 36px;
   line-height: 36px;
   text-transform: none;
   margin: 0;
   margin-bottom: 13px;
 }

 /*-----FOOTER-MAPS-----*/

 .footer-maps {
   position: relative;
   margin: 0 auto;

   height: 416px;
   max-width: 1440px;*/
   background-image: url("../img/map-marker.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #b5b5b6;
   background-position: center;
 }

 .footer-maps .container {
     display: flex;
 }

 .iframemap  {
   width: 100%;
   height: 416px;
   border: 0;
   position: absolute;
 }

 /*-----FOOTER-CONTACTS-----*/

 .footer-contacts {
   margin-top: 54px;
   padding: 50px;
   width: 230px;

   background-color: #ffffff;
   color: #8f8f8f;
   line-height: 18px;

   z-index: 1;
 }

 .address-wrapper {
   width: 210px;
   padding-bottom: 10px;
 }

 .footer-contacts .address {
   color: #000000;
   font-size: 18px;
   line-height: 30px;
   text-transform: uppercase;
   font-weight: bold;
 }

 .footer-button .button {
   padding: 17px 45px;
 }

 .footer-btn:hover,
 .footer-btn:focus {
     background-color: #e74246;
   }

 .footer-btn:active {
     color: #e26c6e;
     background-color: #d7373b;
     box-shadow: inset 0 3px 0 0 #c13135;
 }

 /*-----FOOTER-BOTTOM-----*/

 .footer-bottom {
   display: flex;
   margin: 69px auto;
 }

 .footer-social-list {
   display: flex;
   padding: 0;
   margin: 0;
 }

 .social-button {
    margin-right: 12px;
    position: relative;
 }

 .social {
   width: 79px;
   height: 79px;
   background-color: #e1e1e1;
   border-radius: 50%;
   cursor: pointer;
 }

 .social:hover,
 .social:focus {
   background-color: #e74246;
 }

.social:active {
  background-color: #d7373b;
}

 .social-vk {
   display: block;
   margin: auto;
 }

 .social-vk::before {
   content: "";
   display: block;
   background-image: url("../img/vk-icon.svg");
   background-repeat: no-repeat;

   position: absolute;
   left: 25px;
   bottom: 30px;

   width: 26px;
   height: 16px;
 }

 .social-vk:active::before,
 .social-fb:active::before,
 .social-ig:active::before {
   opacity: 0.3;
 }

 .social-fb {
   display: block;
   margin: auto;
 }

 .social-fb::before {
   content: "";
   display: block;
   background-image: url("../img/fb-icon.svg");
   background-repeat: no-repeat;

   position: absolute;
   left: 33px;
   bottom: 28px;

   width: 12px;
   height: 22px;
 }

 .social-ig {
   display: block;
   margin: auto;
 }

 .social-ig::before{
   content: "";
   display: block;
   background-image: url("../img/insta-icon.svg");
   background-repeat: no-repeat;

   position: absolute;
   left: 30px;
   bottom: 28px;

   width: 21px;
   height: 21px;
 }

 .footer-slogan {
   margin-left: 140px;
   margin-top: 10px;
 }

/*-----INNER PAGE-----*/
/*-----CATALOG-PAGE-----*/

.catalog-page {
 margin-left: 80px;
 margin-bottom: 0;
 padding-top: 24px;
 padding-right: 82px;
 padding-bottom: 103px;


 text-align: center;
 font-size: 55px;
 line-height: 55px;
 color: #000000;
}

.inner-page {
  display: flex;
  justify-content: space-between;
}

/*------FORM-----*/

.main-form {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-top: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.range-filter {
  width: 260px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding: 0 20px;
  background-color: #eeeeee;
  border-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  width: 4px;
  height: 5px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cccdcd;

  position: absolute;
  top: 30px;
  left: 10px;
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 155px;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  border: none;
  background-color: #eeeeee;
  font-size: 16px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-style: normal;
  text-align: center;
  color: #283136;
  border-radius: 5px;
}

.price-controls .min-price {
  margin-right: 52px;
}

.price-controls {
  white-space: nowrap;
}

.radiobox {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

input[type=radio] {
  display: none;
}

.radiobox::before {
  content: "";
  display: inline-block;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 25px;
  height: 25px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
}

.grid:checked + .radiobox::before{
  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.radiobox:hover::before,
.radiobox:focus::before {
  background-image: url("../img/radio-off.svg");
  opacity: 1;
}

.grid:checked + .radiobox:hover::before,
.grid:checked + .radiobox:focus::before {
  background-image: url("../img/radio-on.svg");
  opacity: 1;
}

.radiobox:disabled::before {
  background-image: url("../img/radio-off.svg");
  opacity: 0.1;
  cursor: default;
}

.grid:checked:disabled + .radiobox::before {
  background-image: url("../img/radio-on.svg");
  opacity: 0.1;
  cursor: default;
}

.checkbox {
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;
  padding-left: 35px;
  margin-right: 15px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  outline: none;
}

input[type=checkbox] {
  display: none;
}

.checkbox::before {
  content: "";
  display: inline-block;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  opacity: 0.4;
  width: 23px;
  height: 23px;

  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
}

.features-checkbox:checked + .checkbox::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
  width: 27px;
  height: 23px;
}

.checkbox:hover::before,
.checkbox:focus::before {
  background-image: url("../img/checkbox-off.svg");
  opacity: 1;
}

.features-checkbox:checked + .checkbox:hover::before,
.features-checkbox:checked + .checkbox:focus::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 1;
}

.checkbox:disabled::before {
  background-image: url("../img/checkbox-off.svg");
  opacity: 0.1;
  cursor: default;
}

.features-checkbox:checked:disabled + .checkbox::before {
  background-image: url("../img/checkbox-on.svg");
  opacity: 0.1;
  cursor: default;
}

.main-form .button {
  display: inline-block;
  vertical-align: top;
  color: #000000;
  background-color: #eeeeee;
  padding: 20px 88px;
  margin-top: 18px;
}

.main-form .button:hover,
.main-form .button:focus {
  background-color: #dfdfdf;
}

.main-form .button:active {
  color: #959595;
  background-color: #d5d5d5;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

/*-----SORT OF EXAMPLES-----*/

.sorting {
  display: flex;
  width: 760px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort  {
  color: #000000;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 55px;
}

.sort-categories {
  display: flex;
  margin-top: 55px;
}

.sort-links  {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: #b2b2b2;
  margin-right: 14px;
}

.sort-links:hover,
.sort-links:focus {
  color: #666666;
}

.sort-links:active,
.sort-link-current {
  color: #000000;
}

.icon-down-up {
  display: flex;
}

.sort-categories .icon-up,
.sort-categories .icon-down {
  opacity: 0.2;
}

.sort-categories .icon-up:hover,
.sort-categories .icon-down:hover {
  opacity: 0.3;
}

.sort-categories .icon-current {
  opacity: 1;
}

.sort-categories .icon-down {
  background-image: url("../img/icon-down-dir.svg");
  background-repeat: no-repeat;
  display: block;
  width: 11px;
  height: 10px;
  margin-left: 17px;
  margin-right: 0;
}

.sort-categories .icon-up {
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
  display: block;
  width: 11px;
  height: 10px;
  margin-left: 18px;
  margin-right: 0;
}


/*-----EXAMPLES-----*/

.examples .button {
  display: inline-block;
  vertical-align: top;
  text-align: center;

  padding: 18px 60px;
  margin-top: 30px;
}

.examples .button:hover,
.examples .button:focus {
  background-color: #e74246;
}

.examples .button:active {
  background-color: #d7373b;
}

/*-----TEMPLATE-----*/

.template-examples {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 760px;
  margin-top: 25px;
}

.template {
  position: relative;
  width: 360px;
  height: 575px;

  margin-bottom: 33px;
  padding-top: 40px;
  background-image: url("../img/browser-off.svg");
  background-repeat: no-repeat;
}

.template-description {
  display: none;
}

 .template:hover {
   background-image: url("../img/browser-on.svg");
   background-repeat: no-repeat;
   width: 360px;
 }

 .template:hover .template-description {
  display: block;
  position: absolute;
  bottom: 0;
  width: 360px;
  height: 230px;
  background-color: #eeeeee;
  text-align: center;
  color: #666666;
}

.template-name {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}

.template-description-text {
  padding-left: 60px;
  padding-right: 60px;
}

/*------PAGINATION-LIST AND ITEMS-----*/

.pagination-list {
  display: flex;

  padding: 0;
  margin-top: 27px;
  margin-bottom: 60px;
}

.pagination-list a {
  color: #000000;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-item {
  display: block;
  text-align: center;

  height: 35px;
  width: 50px;
  background: #eeeeee;
  border-radius: 2px;

  margin-right: 11px;
  padding-top: 15px;
}

.pagination-item-current {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 3px #dbdbdb;
  width: 50px;
  height: 35px;
}

.pagination-item:hover,
.pagination-item:focus {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
  color: #959595;
  box-shadow: inset 0 3px 0 0 #bfbfbf;
}

.pagination-next {
  width: 260px;
  height: 35px;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 15px;
}

/*-----TEXT-DECORATION-----*/

.strong {
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
}

/*-----VISUALLY-HIDDEN-----*/
.visually-hidden {
 position: absolute;

 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;

 clip: rect(0 0 0 0);
 overflow: hidden;
}

/*-------POPUP-----*/

.feedback {
  position: fixed;
  left: 50%;
  top: 10%;
  margin-left: -480px;

  z-index: 2;

  width: 960px;
  box-shadow: 0 0 20px 0 #000000;
  background-color: #ffffff;

  display: none;
  justify-content: center;
}

.feedback-show {
  display: flex;

  animation: anvil 0.7s;
}

.feedback-error {
  animation: shake 0.6s;
}

.popup-feedback {
  width: 800px;
  padding: 70px 20px 50px;
  position: relative;
}

.popup-title {
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto", Arial, sans-serif;
  color: #000000;
  margin: 0;
  margin-bottom: 50px;
}

.popup .name,
.popup .email {
 display: block;

 width: 344px;
 height: 46px;
 border: 2px solid #d7dcde;

 padding-left: 14px;
 margin-top: 12px;
 outline: none;
}

.popup .name:hover,
.popup .email:hover,
.popup .textarea:hover {
  border-color: #b4b9bb;
}

.popup .name:focus,
.popup .email:focus,
.popup .textarea:focus {
  border-color: #000000;
  color: #444444;
}

.popup .name:invalid,
.popup .email:invalid {
  border-color: #e74246;
}

.textarea {
  outline: none;
}

.popup-name {
  float: left;
  margin-right: 40px;
}

.popup-email {
  float: left;
}

.popup label {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
}

.feedback-text {
  clear: both;
  padding-top: 35px;
}

.feedback-text .textarea {
  width: 746px;
  height: 101px;

  margin-top: 12px;
  padding-top: 13px;
  padding-left: 13px;

  border: 2px solid #d7dcde;
  resize: none;
}

.btn-popup {
  padding: 18px 82px;
  margin-top: 47px;
}

.btn-popup:hover,
.btn-popup:focus {
    background-color: #e74246;
  }

.btn-popup:active {
    color: #e26c6e;
    background-color: #d7373b;
    box-shadow: inset 0 3px 0 0 #c13135;
}

.popup-btn-close {
  position: absolute;
  top: 80px;
  right: 42px;
  cursor: pointer;

  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  border: 0;
  background-color: transparent;
  width: 21px;
  height: 21px;
  opacity: 0.3;
}

.popup-btn-close:hover,
.popup-btn-close:focus {
  opacity: 1;
}

.popup-btn-close:active {
  opacity: 0.1;
}

/*------ANIMATIONS-----*/

@keyframes anvil {
  0% {
    transform: scale(5) rotate(0);
    opacity: 0;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0);
  }
  50% {
    transform: scale(1) rotate(-0.2deg);
    opacity: 1;
    box-shadow: 0 0 0 rgba(241, 241, 241, 0.5);
  }
  75% {
    transform: scale(1) rotate(0.2deg);
    opacity: 1;
    box-shadow: 0 0 250px rgba(241, 241, 241, 0.5);
  }
  100% {
    transform: scale(1) rotate(0);
    opacity: 1;
    box-shadow: 0 0 500px rgba(241, 241, 241, 0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
