html, body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: #353e42;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

 button {
   color: #ffffff;
   background-color: #fb565a;
   text-transform: uppercase;
   border: none;
 }

 .form button {
   color: #000000;
   background-color: #eeeeee;
 }

 .form button:hover,
 .form button:focus {
   background-color: #dfdfdf;
 }

 .form button:active {
   color: #959595;
   background-color: rgba(213, 213, 213, 0.3)
 }

 .button {
   color: #ffffff;
   background-color: #fb565a;
   text-transform: uppercase;
 }

 .examples .button:hover,
 .examples .button:focus {
   background-color: #e74246;
 }

 .examples .button:active {
   background-color: #d7373b;
 }

 .container .button:active {
   color: #e37376;
 }

 .container .button-1 {
   background-color: #fb565a;
 }

 .container .button-1:hover,
 .container .button-1:focus {
   background-color: #e74246;
 }

 .container .button-1:active {
   background-color: #d7373b;
 }

 .container .button-2 {
   background-color: #00ca74;
 }

 .container .button-2:hover,
 .container .button-2:focus {
   background-color: #00bc6c;
 }

 .container .button-2:active {
   background-color: #00aa62;
 }

 .container .button-3 {
   background-color: #efc84a;
 }

 .container .button-3:hover,
 .container .button-3:focus {
   background-color: #eab534;
 }

 .container .button-3:active {
   background-color: #e5a722;
 }

 .main-header .button {
   background-color: #fb565a;
 }

 .main-header .button:hover,
 .main-header .button:focus {
   background-color: #e74246;
 }

 .main-header .button:active {
   color: #e26c6e;
   background-color: #d7373b;
 }

.main-header {
  background-color: #eeeeee;
  background-image: url("img/greyback.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-navigation a {
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.main-navigation a:hover {
  color: #fb565a;
}

.main-navigation a:focus {
  color: #a6a6a6;
}

.main-navigation a:active {
  color: #000000;
  border-bottom: 2px solid #fb565a;
}

.site-navigation,
.user-navigation,
.features-list,
.social-button {
  list-style: none;
}

.slider h2 {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
}

.features h2 {
  font-size: 45px;
  line-height: 45px;
  color: #000000;
}

.products-item h3 {
  font-size: 24px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
}

.container {
  background-color: #ffffff;
}

.container a{
  color: #ffffff;
}

.strong {
  color: #000000;
  text-transform: uppercase;
}

.main-footer .strong {
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

table .strong {
  font-size: 45px;
  line-height: 10,06px;
  font-weight: bold;
}

.features {
  border-top: 3px solid #eeeeee;
}
.partners {
  border-top: 3px solid #eeeeee;
  border-bottom: 3px solid #eeeeee;
}

.footer-contacts {
  background-color: #ffffff;
  color: #8f8f8f;
  line-height: 18px;
}

.footer-contacts .name {
  color: #000000;
  font-size: 18px;
  line-height: 30px;
}
